html,
body {
    overflow-x: hidden;
}

@keyframes flyIn {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

#page-container {
    animation-name: flyIn;
    animation-duration: 1s;
    animation-timing-function: ease;
}
